FORMAT: 1A
HOST: http://webgis.nature.cz/aopkrest/wetlands/

# AOPK ČR - Mokřady

Rozhraní pro získávání informací o **mokřadech** ČR.

## MOK_IR001 Ramsar - karta dle ID [/ramsar/{id}?lng={lng}&f={f}]

+ Parameters
    + id: 2085 (number) - ID mokřadu
    + lng (string, optional) - jazyková mutace
        + Default: cz
        + Members
            + cz
            + en
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml
            

### Ramsar - karta dle ID [GET]

+ Response 200 (application/json)

            {
              "Ramsar": {
                "IdNumber": 2085,
                "NazevCZ": "Litovelské Pomoraví",
                "Nazev": "Litovelské Pomoraví",
                "Kod": "RS5",
                "Lokalizace": {
                  "Lat": 49.697893,
                  "Lon": 17.104889,
                  "UIValue": "49.697893 17.104889"
                },
                "OdkazMapaObr": "http://webgis.nature.cz/aopkrest/wetlands/ramsar/2085/map",
                "OdkazPrehledObr": "http://webgis.nature.cz/aopkrest/wetlands/ramsar/2085/map?typ=1",
                "OdkazMapOkno": "http://webgis.nature.cz/mokrady?vrstva=1&najdi=Litovelské Pomoraví",
                "Rozloha": {
                  "RozlohaHodnota": 6194.278,
                  "RozlohaJednotka": "ha",
                  "UIValue": "6 194.278 ha"
                },
                "Typy": [
                  {
                    "Kod": 4,
                    "Popis": "lužní les, olšina či jiné mokřadní lesy"
                  },
                  {
                    "Kod": 16,
                    "Popis": "lom, štěrkovna, pískovna"
                  }
                ],
                "Kategorie": "Mezinárodně významné mokřady",
                "RokZapis": 1993,
                "Kriteria": [
                  {
                    "Kod": 1,
                    "Popis": "Mokřad představuje typický, vzácný nebo unikátní přírodní nebo přírodě blízký mokřad pro daný biogeografický region."
                  },
                  {
                    "Kod": 3,
                    "Popis": "Mokřad je obýván populacemi rostlin nebo živočichů důležitých pro uchování biologické rozmanitosti daného biogeografického regionu."
                  }
                ],
                "Stupne": [
                  {
                    "Kod": "PP",
                    "Popis": "Přírodní památka"
                  },
                  {
                    "Kod": "PR",
                    "Popis": "Přírodní rezervace"
                  }
                ],
                "NadmVyska": {
                  "VyskaMin": 215,
                  "VyskaMax": 275,
                  "UIValue": "215 - 275"
                },
                "Charakter": "Úzký pás údolní nivy o šířce 0,2 – 4,2 km podél řeky Moravy mezi obcemi Olomouc – Litovel – Mohelnice (střední Morava). Jde o inundační oblast přirozeně tekoucí Moravy, která si uchovává projevy recentní činnosti a vytváří vnitrozemskou deltu v komplexu lužních lesů. Jedná se převážně o říční mokřad s četnými stálými i periodickými tůněmi, rameny řek, přítoky, mokřadními, slatinnými a lučními společenstvy, lužními lesy a množstvím malých i velkých vodních ploch, pískoven, rybníků a odstavených ramen.",
                "Geografie": "Průměrná roční teplota oblasti je 8,5°C, v období vegetačním (duben-září) 15°C. Geomorfologicky patří území do Hornomoravského  úvalu - části Středomoravská niva a Třesínským prahem oddělené Mohelnické brázdy. Údolní niva je vyplněna neogenními a kvarterními sedimenty (štěrky, písky a jíly), v Třesínském prahu - devonský  vápenec, překrytými jemnozrnnými povodňovými sedimenty. V lesích vyvinuty převážně na živiny bohaté semiglejové půdy s příznivou humifikací. Na slatiništích - rašelinné půdy slatinné. Na lučních společenstvech mezofytního rázu degradované slatinné půdy a ogle­jené aluviální půdy a gleje. Gleje místy na nepropustných podložích v terénních depresích. Celá oblast vznikla zaklesnutím hornin Českého masivu do hloubky před čelem vrásnicího se Karpatského oblouku.",
                "Ekologie": "Území je inundačními hrázemi ze dvou třetin odděleno od zemědělsky využívané krajiny. Vodní režim je řízen množstvím vody v Moravě a režimem záplav. Tím je ovlivněna i dynamika sukcesí rostlinných a živočišných společenstev. Lesní společenstva mají přirozenou dřevinnou skladbu, většinou s bohatou etáží keřů a s typickými sezónními aspekty rostlinných společenstev. Převážná část Moravy je v parmovém pásmu, místy podmínky pro rozvoj pásma cejnového.",
                "Ochrana": "Celá lokalita leží v CHKO Litovelské Pomoraví, nejcennější části jsou chráněny jako NPR nebo jsou k ochraně navrhovány.",
                "OchrAktivity": null,
                "HlavniAktiv": "Intenzivní zemědělství, lesnictví, rekreace (turistika, lov).",
                "HlavniNegativ": "Eutrofizace toků a stojatých vod včetně lokálních zdrojů znečištění v oblasti i v horním úseku toku. Oblast myslivecky intenzivně využívaná (bažant, daněk). Výrazné nebezpečí v případě rozhodnutí o výstavbě kanálu Dunaj-Odra-Labe. Vlivem rozpadu lesních ekosystémů v Jeseníkách a negativních změn vodního režimu v podhůří v uplynulých letech se zvyšuje obsah plavenin v řece Moravě a rozkolísanost jejího toku, včetně snížení minimálních průtoků (vliv na flóru i faunu vázanou na říční tok). Odvodňováním a dílčími regulacemi došlo k poklesu hladiny podzemní vody a následnému úbytku mokřadních biotopů v lese i volné krajině. Došlo k narušení komplexu lesů nadměrnou těžbou a pro chov bažanta, místy změny i ve skladbě dřevin. Ustoupila řada slatinných společenstev s typickými druhy. Negativní změny nejsou již dále očekávány. Problémové otázky související s vodním režimem vytipovány podle lokalit a připraveny k odbornému zpracování (optimální vodní režim některých vysýchajících mokřadů, možnost obnovy zanikajících nebo zaniklých mokřadů).  Snaha o obnovu lučních ekosystémů.",
                "Vodohospodar": "Průměrné roční srážky činí 578 mm. Evapotranspirace lužního lesa 673 mm. Vláhový deficit oblasti vyrovnávají pravidelné jarní záplavy (vzácně i v jinou roční dobu) a doplňování ze zásob podzemní vody během vegetačního období. V kvarterních sedimentech bohaté zásoby vodárensky využitelné vody. Průměrný průtok v řece Moravě v Olomouci je 15 m3/s. V oblasti je 240 km aktivních říčních toků (250 ha plochy), 100 km periodicky průtočných ramen (do poloviny května), zaplavovaný les (3 500 ha), asi 2 000 tůní, z nich je 100 stálých, prameny (krasové a četné vývěry ve štěrkovém eluviu), 300 ha stojatých vodních ploch, celkem asi 4 125 ha mokřadních biotopů. Oblast výrazně přispívá ke zvyšování vlhkosti okolního aridizovaného území, snižování prašnosti a větrné eroze. Výrazným jevem je sedimentace plavenin v tůních říčního toku i v inundační oblasti, vytváření štěrkových lavic a jesepních pláží. ",
                "SocioKult": "Oblast je významná intenzivním zemědělstvím a lesnictvím. Řada kulturních památek (Lichtenštejnské panství, město Litovel na šesti ramenech Moravy, hanácká architektura obcí, vodní stavby).",
                "FloraVegetace": "Vyspělé lužní lesy s převážně přirozenou dřevinnou skladbou. Převládají asociace Querco-Ulmetum, Salici-Populetum, Pado-Alnetum. Nelesní společenstva sv. Phragmition communis, Phalaridion arundinacea, Caricion gracilis, C. fuscae, Molinion coerulae, Alopecurion pratensis, Arrhenatherion (řada z nich zčásti přeměněna v polokulturní louky). Břehová vegetace a společenstva tekoucích vod nedostatečně známa. Ve stojatých vodách společenstva svazu Lemnion minoris, vzácněji Nymphaeion a Potamion. Mezi nejvýznamnější druhy byliny patří úpolín evropský, kosatec sibiřský, cídivka peřestá, vachta trojlistá, zevar nejmenší, pryskyřník veliký, bublinatka obecná, růžkatec bradavčitý, hrachor luční, violka slatinná, kruštík polabský, ostřice trsnatá, o. banátská, o. stinná, o. pašáchor.",
                "Fauna": "Typická společenstva korýšů jarního aspektu - Lynceus brachyurus, listonoh jarní a žábronožka sněžní. Endemický stygobiontní  korýš Parastenocaris moravica, zřejmě i endemická asociace korýšů (studuje se). Měkkýši – svinutec tenký. Typické ornitocenózy vyspělých lužních lesů – hnízdí chřástal vodní, bukáček malý, ledňáček říční, břehule říční, moudivláček lužní, na štěrkových náplavech Moravy kulík říční a pisík obecný, pravděpodobně i chřástal kropenatý. Savci – vydra říční (ojedinělé výskyty). Úspěšně byl reintrodukován bobr evropský. V řece Moravě 28 druhů ryb (250 kg/ha toku). Plazi – želva bahenní (v posledních 40 letech průkazně nedoložena).",
                "VyzkumAktiv": null,
                "Vychova": null,
                "Rekreace": "Rozvinutá je pěší turistika po vyznačených chodnicích, vodní turistika na řece Moravě, sportovní rybolov, vodní sporty na vy­mezených částech pískoven (jachting, ap.), připravena je cyklistická naučná stezka, vodácká naučná stezka, v provozu jsou dvě pěší naučné stezky. Využíváno především obyvateli okolních obcí a centrem Olomoucí.",
                "DuvodRamsar": "Přirozeně meandrující Morava se všemi projevy recentní činnosti vytváří v komplexu lužních lesů s enklávami luk ojedinělou vnitrozemskou říční deltu. V inundačním území je množství trvalých i periodických vodních ploch a mokřadů hlavně slatinného typu. Území krajinotvorně významné, vysoká diverzita krajinných prvků podmiňuje výskyt řady vzácných rostlinných i živočišných druhů a jejich společenstev. Území je velmi cenné pro hnízdění a tah ptáků. Území splňuje kritéria 1a a 1b.",
                "Podlokality": [
                  {
                    "Kod": "RS5.01",
                    "Nazev": "Hejtmanka",
                    "Typy": [
                      {
                        "Kod": 4,
                        "Popis": "lužní les, olšina či jiné mokřadní lesy"
                      }
                    ]
                  },
                  {
                    "Kod": "RS5.02",
                    "Nazev": "Chomoutovské jezero",
                    "Typy": [
                      {
                        "Kod": 16,
                        "Popis": "lom, štěrkovna, pískovna"
                      }
                    ]
                  }
                ],
                "Biotopy": [
                  {
                    "Kod": "L2.3",
                    "Nazev": "Tvrdé luhy nížinných řek",
                    "StanovisteKod": "91F0",
                    "StanovisteNazev": "Smíšené lužní lesy s dubem letním (Quercus robur), jilmem vazem (Ulmus laevis) a jilmem habrolistým (Ulmus minor), jasanem ztepilým (Fraxinus excelsior) nebo jasanem úzkolistým (Fraxinus angustifolia) podél velkých řek (Ulmenion minoris)",
                    "Rozloha": {
                      "RozlohaHodnota": 1164.5611,
                      "RozlohaJednotka": "ha",
                      "UIValue": "1 164.561 ha"
                    },
                    "RozlohaRelativ": 18.8,
                    "Kvalita": 2.12
                  },
                  {
                    "Kod": "V1F",
                    "Nazev": "Makrofytní vegetace přirozeně eutrofních a mezotrofních stojatých vod, porosty bez druhů charakteristických pro V1A-V1E",
                    "StanovisteKod": "3150",
                    "StanovisteNazev": "Přirozené eutrofní vodní nádrže s vegetací typu Magnopotamion nebo Hydrocharition",
                    "Rozloha": {
                      "RozlohaHodnota": 6.4012,
                      "RozlohaJednotka": "ha",
                      "UIValue": "6.401 ha"
                    },
                    "RozlohaRelativ": 0.1,
                    "Kvalita": 2.72
                  }
                ],
                "Druhy": {
                  "InvazivnostTitulek": "Po kliknutí se zobrazí citace ...",
                  "SeznamDruhu": [
                    {
                      "DruhKat": "Obojživelníci",
                      "DruhNazevLat": "Bombina bombina",
                      "DruhNazevCz": "kuňka obecná",
                      "OchranaKat": "Silně ohrožený",
                      "Smernice": "HD II, HD IV",
                      "CervenySeznam": "HD II, HD IV",
                      "Invazivnost": null,
                      "RokPoslZaz": 2015,
                      "DruhKarta": "http://portal.nature.cz/publik_syst/nd_nalez-public.php?idTaxon=1"
                    },
                    {
                      "DruhKat": "Obojživelníci",
                      "DruhNazevLat": "Bufo bufo",
                      "DruhNazevCz": "ropucha obecná",
                      "OchranaKat": "Ohrožený",
                      "Smernice": null,
                      "CervenySeznam": null,
                      "Invazivnost": null,
                      "RokPoslZaz": 2015,
                      "DruhKarta": "http://portal.nature.cz/publik_syst/nd_nalez-public.php?idTaxon=4"
                    }
                  ]
                },
                "Podklady": [
                  {
                    "Citace": "HORA, M. Tajemství zkratky SLA. <i>Ekonomické a informační systémy v praxi</i> [online]. [cit. 2013-07-17], s. 1. ISSN 1802615X."
                  },
                  {
                    "Citace": "HÄRTEL, H.; LONČÁKOVÁ, J.; HOŠEK, M. (eds.)  (2009). <i>Mapování biotopů v České republice: Východiska, výsledky, perspektivy</i>. 1. vydání. Praha: Agentura ochrany přírody a krajiny ČR. 196 s., tabulky, mapy, CD-ROM. ISBN 978-80-87051-36-8."
                  }
                ],
                "Fotky": [
                  {
                    "Nazev": "Všivec bahenní ",
                    "Popis": null,
                    "CestaNahled": "http://fotoarchiv.nature.cz/showImage.php?id=44583&phototype=thumbnail",
                    "CestaVelky": "http://fotoarchiv.nature.cz/showImage.php?id=44583&phototype=nahled600",
                    "Autor": "Přemysl Tájek",
                    "Organizace": "AOPK ČR"
                  },
                  {
                    "Nazev": "Hvozdík pyšný",
                    "Popis": null,
                    "CestaNahled": "http://fotoarchiv.nature.cz/showImage.php?id=44582&phototype=thumbnail",
                    "CestaVelky": "http://fotoarchiv.nature.cz/showImage.php?id=44582&phototype=nahled600",
                    "Autor": "Přemysl Tájek",
                    "Organizace": "AOPK ČR"
                  }
                ],
                "Prilohy": [
                  {
                    "Nazev": "obr_c.jpg",
                    "Popis": "test C",
                    "Velikost": {
                      "VelikostHodnota": 0.16,
                      "VelikostJednotka": "MB",
                      "UIValue": "0.16 MB"
                    },
                    "Odkaz": "http://localhost:49994/priloha/-3"
                  },
                  {
                    "Nazev": "obr_d.jpg",
                    "Popis": "test D",
                    "Velikost": {
                      "VelikostHodnota": 0.20,
                      "VelikostJednotka": "MB",
                      "UIValue": "0.20 MB"
                    },
                    "Odkaz": "http://localhost:49994/priloha/-4"
                  }
                ],
                "Projekty": [
                  {
                    "Nazev": "Testovací projekt",
                    "Realizator": "AOPK",
                    "Realizace": "od 07/2016 do 05/2020",
                    "Podpora": "100000 Kč",
                    "Zdroj": "Norské fondy",
                    "Anotace": "Toto je popis testovacího projektu",
                    "Fotky": [
                      {
                        "Nazev": "Slíďák dřevomilný",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=1385372814794ce56d6b.JPG&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=1385372814794ce56d6b.JPG",
                        "Autor": "Alois Pavlíčko",
                        "Organizace": "AOPK ČR"
                      },
                      {
                        "Nazev": "Mlynářská slať",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=13371766748e06cc42d.jpg&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=13371766748e06cc42d.jpg",
                        "Autor": "Danuše Turoňová",
                        "Organizace": "AOPK ČR"
                      }
                    ]
                  },
                  {
                    "Nazev": "Projekt LIFE+",
                    "Realizator": "ČZÚ",
                    "Realizace": "od 05/2010 do 06/2020",
                    "Podpora": "25024 Kč",
                    "Zdroj": "SFŽP",
                    "Anotace": "Test",
                    "Fotky": [
                      {
                        "Nazev": "Slíďák dřevomilný",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=1385372814794ce56d6b.JPG&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=1385372814794ce56d6b.JPG",
                        "Autor": "Alois Pavlíčko",
                        "Organizace": "AOPK ČR"
                      }
                    ]
                  }
                ]
              }
            }

## MOK_IR001 Ramsar - karta dle kódu [/ramsar/{code}?lng={lng}&f={f}]

+ Parameters
    + code: RS5 (string) - kód mokřadu
    + lng (string, optional) - jazyková mutace
        + Default: cz
        + Members
            + cz
            + en
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml
            

### Ramsar - karta dle kódu [GET]

+ Response 200 (application/json)

            {
              "Ramsar": {
                "IdNumber": 2085,
                "NazevCZ": "Litovelské Pomoraví",
                "Nazev": "Litovelské Pomoraví",
                "Kod": "RS5",
                "Lokalizace": {
                  "Lat": 49.697893,
                  "Lon": 17.104889,
                  "UIValue": "49.697893 17.104889"
                },
                "OdkazMapaObr": "http://webgis.nature.cz/aopkrest/wetlands/ramsar/2085/map",
                "OdkazPrehledObr": "http://webgis.nature.cz/aopkrest/wetlands/ramsar/2085/map?typ=1",
                "OdkazMapOkno": "http://webgis.nature.cz/mokrady?vrstva=1&najdi=Litovelské Pomoraví",
                "Rozloha": {
                  "RozlohaHodnota": 6194.278,
                  "RozlohaJednotka": "ha",
                  "UIValue": "6 194.278 ha"
                },
                "Typy": [
                  {
                    "Kod": 4,
                    "Popis": "lužní les, olšina či jiné mokřadní lesy"
                  },
                  {
                    "Kod": 16,
                    "Popis": "lom, štěrkovna, pískovna"
                  }
                ],
                "Kategorie": "Mezinárodně významné mokřady",
                "RokZapis": 1993,
                "Kriteria": [
                  {
                    "Kod": 1,
                    "Popis": "Mokřad představuje typický, vzácný nebo unikátní přírodní nebo přírodě blízký mokřad pro daný biogeografický region."
                  },
                  {
                    "Kod": 3,
                    "Popis": "Mokřad je obýván populacemi rostlin nebo živočichů důležitých pro uchování biologické rozmanitosti daného biogeografického regionu."
                  }
                ],
                "Stupne": [
                  {
                    "Kod": "PP",
                    "Popis": "Přírodní památka"
                  },
                  {
                    "Kod": "PR",
                    "Popis": "Přírodní rezervace"
                  }
                ],
                "NadmVyska": {
                  "VyskaMin": 215,
                  "VyskaMax": 275,
                  "UIValue": "215 - 275"
                },
                "Charakter": "Úzký pás údolní nivy o šířce 0,2 – 4,2 km podél řeky Moravy mezi obcemi Olomouc – Litovel – Mohelnice (střední Morava). Jde o inundační oblast přirozeně tekoucí Moravy, která si uchovává projevy recentní činnosti a vytváří vnitrozemskou deltu v komplexu lužních lesů. Jedná se převážně o říční mokřad s četnými stálými i periodickými tůněmi, rameny řek, přítoky, mokřadními, slatinnými a lučními společenstvy, lužními lesy a množstvím malých i velkých vodních ploch, pískoven, rybníků a odstavených ramen.",
                "Geografie": "Průměrná roční teplota oblasti je 8,5°C, v období vegetačním (duben-září) 15°C. Geomorfologicky patří území do Hornomoravského  úvalu - části Středomoravská niva a Třesínským prahem oddělené Mohelnické brázdy. Údolní niva je vyplněna neogenními a kvarterními sedimenty (štěrky, písky a jíly), v Třesínském prahu - devonský  vápenec, překrytými jemnozrnnými povodňovými sedimenty. V lesích vyvinuty převážně na živiny bohaté semiglejové půdy s příznivou humifikací. Na slatiništích - rašelinné půdy slatinné. Na lučních společenstvech mezofytního rázu degradované slatinné půdy a ogle­jené aluviální půdy a gleje. Gleje místy na nepropustných podložích v terénních depresích. Celá oblast vznikla zaklesnutím hornin Českého masivu do hloubky před čelem vrásnicího se Karpatského oblouku.",
                "Ekologie": "Území je inundačními hrázemi ze dvou třetin odděleno od zemědělsky využívané krajiny. Vodní režim je řízen množstvím vody v Moravě a režimem záplav. Tím je ovlivněna i dynamika sukcesí rostlinných a živočišných společenstev. Lesní společenstva mají přirozenou dřevinnou skladbu, většinou s bohatou etáží keřů a s typickými sezónními aspekty rostlinných společenstev. Převážná část Moravy je v parmovém pásmu, místy podmínky pro rozvoj pásma cejnového.",
                "Ochrana": "Celá lokalita leží v CHKO Litovelské Pomoraví, nejcennější části jsou chráněny jako NPR nebo jsou k ochraně navrhovány.",
                "OchrAktivity": null,
                "HlavniAktiv": "Intenzivní zemědělství, lesnictví, rekreace (turistika, lov).",
                "HlavniNegativ": "Eutrofizace toků a stojatých vod včetně lokálních zdrojů znečištění v oblasti i v horním úseku toku. Oblast myslivecky intenzivně využívaná (bažant, daněk). Výrazné nebezpečí v případě rozhodnutí o výstavbě kanálu Dunaj-Odra-Labe. Vlivem rozpadu lesních ekosystémů v Jeseníkách a negativních změn vodního režimu v podhůří v uplynulých letech se zvyšuje obsah plavenin v řece Moravě a rozkolísanost jejího toku, včetně snížení minimálních průtoků (vliv na flóru i faunu vázanou na říční tok). Odvodňováním a dílčími regulacemi došlo k poklesu hladiny podzemní vody a následnému úbytku mokřadních biotopů v lese i volné krajině. Došlo k narušení komplexu lesů nadměrnou těžbou a pro chov bažanta, místy změny i ve skladbě dřevin. Ustoupila řada slatinných společenstev s typickými druhy. Negativní změny nejsou již dále očekávány. Problémové otázky související s vodním režimem vytipovány podle lokalit a připraveny k odbornému zpracování (optimální vodní režim některých vysýchajících mokřadů, možnost obnovy zanikajících nebo zaniklých mokřadů).  Snaha o obnovu lučních ekosystémů.",
                "Vodohospodar": "Průměrné roční srážky činí 578 mm. Evapotranspirace lužního lesa 673 mm. Vláhový deficit oblasti vyrovnávají pravidelné jarní záplavy (vzácně i v jinou roční dobu) a doplňování ze zásob podzemní vody během vegetačního období. V kvarterních sedimentech bohaté zásoby vodárensky využitelné vody. Průměrný průtok v řece Moravě v Olomouci je 15 m3/s. V oblasti je 240 km aktivních říčních toků (250 ha plochy), 100 km periodicky průtočných ramen (do poloviny května), zaplavovaný les (3 500 ha), asi 2 000 tůní, z nich je 100 stálých, prameny (krasové a četné vývěry ve štěrkovém eluviu), 300 ha stojatých vodních ploch, celkem asi 4 125 ha mokřadních biotopů. Oblast výrazně přispívá ke zvyšování vlhkosti okolního aridizovaného území, snižování prašnosti a větrné eroze. Výrazným jevem je sedimentace plavenin v tůních říčního toku i v inundační oblasti, vytváření štěrkových lavic a jesepních pláží. ",
                "SocioKult": "Oblast je významná intenzivním zemědělstvím a lesnictvím. Řada kulturních památek (Lichtenštejnské panství, město Litovel na šesti ramenech Moravy, hanácká architektura obcí, vodní stavby).",
                "FloraVegetace": "Vyspělé lužní lesy s převážně přirozenou dřevinnou skladbou. Převládají asociace Querco-Ulmetum, Salici-Populetum, Pado-Alnetum. Nelesní společenstva sv. Phragmition communis, Phalaridion arundinacea, Caricion gracilis, C. fuscae, Molinion coerulae, Alopecurion pratensis, Arrhenatherion (řada z nich zčásti přeměněna v polokulturní louky). Břehová vegetace a společenstva tekoucích vod nedostatečně známa. Ve stojatých vodách společenstva svazu Lemnion minoris, vzácněji Nymphaeion a Potamion. Mezi nejvýznamnější druhy byliny patří úpolín evropský, kosatec sibiřský, cídivka peřestá, vachta trojlistá, zevar nejmenší, pryskyřník veliký, bublinatka obecná, růžkatec bradavčitý, hrachor luční, violka slatinná, kruštík polabský, ostřice trsnatá, o. banátská, o. stinná, o. pašáchor.",
                "Fauna": "Typická společenstva korýšů jarního aspektu - Lynceus brachyurus, listonoh jarní a žábronožka sněžní. Endemický stygobiontní  korýš Parastenocaris moravica, zřejmě i endemická asociace korýšů (studuje se). Měkkýši – svinutec tenký. Typické ornitocenózy vyspělých lužních lesů – hnízdí chřástal vodní, bukáček malý, ledňáček říční, břehule říční, moudivláček lužní, na štěrkových náplavech Moravy kulík říční a pisík obecný, pravděpodobně i chřástal kropenatý. Savci – vydra říční (ojedinělé výskyty). Úspěšně byl reintrodukován bobr evropský. V řece Moravě 28 druhů ryb (250 kg/ha toku). Plazi – želva bahenní (v posledních 40 letech průkazně nedoložena).",
                "VyzkumAktiv": null,
                "Vychova": null,
                "Rekreace": "Rozvinutá je pěší turistika po vyznačených chodnicích, vodní turistika na řece Moravě, sportovní rybolov, vodní sporty na vy­mezených částech pískoven (jachting, ap.), připravena je cyklistická naučná stezka, vodácká naučná stezka, v provozu jsou dvě pěší naučné stezky. Využíváno především obyvateli okolních obcí a centrem Olomoucí.",
                "DuvodRamsar": "Přirozeně meandrující Morava se všemi projevy recentní činnosti vytváří v komplexu lužních lesů s enklávami luk ojedinělou vnitrozemskou říční deltu. V inundačním území je množství trvalých i periodických vodních ploch a mokřadů hlavně slatinného typu. Území krajinotvorně významné, vysoká diverzita krajinných prvků podmiňuje výskyt řady vzácných rostlinných i živočišných druhů a jejich společenstev. Území je velmi cenné pro hnízdění a tah ptáků. Území splňuje kritéria 1a a 1b.",
                "Podlokality": [
                  {
                    "Kod": "RS5.01",
                    "Nazev": "Hejtmanka",
                    "Typy": [
                      {
                        "Kod": 4,
                        "Popis": "lužní les, olšina či jiné mokřadní lesy"
                      }
                    ]
                  },
                  {
                    "Kod": "RS5.02",
                    "Nazev": "Chomoutovské jezero",
                    "Typy": [
                      {
                        "Kod": 16,
                        "Popis": "lom, štěrkovna, pískovna"
                      }
                    ]
                  }
                ],
                "Biotopy": [
                  {
                    "Kod": "L2.3",
                    "Nazev": "Tvrdé luhy nížinných řek",
                    "StanovisteKod": "91F0",
                    "StanovisteNazev": "Smíšené lužní lesy s dubem letním (Quercus robur), jilmem vazem (Ulmus laevis) a jilmem habrolistým (Ulmus minor), jasanem ztepilým (Fraxinus excelsior) nebo jasanem úzkolistým (Fraxinus angustifolia) podél velkých řek (Ulmenion minoris)",
                    "Rozloha": {
                      "RozlohaHodnota": 1164.5611,
                      "RozlohaJednotka": "ha",
                      "UIValue": "1 164.561 ha"
                    },
                    "RozlohaRelativ": 18.8,
                    "Kvalita": 2.12
                  },
                  {
                    "Kod": "V1F",
                    "Nazev": "Makrofytní vegetace přirozeně eutrofních a mezotrofních stojatých vod, porosty bez druhů charakteristických pro V1A-V1E",
                    "StanovisteKod": "3150",
                    "StanovisteNazev": "Přirozené eutrofní vodní nádrže s vegetací typu Magnopotamion nebo Hydrocharition",
                    "Rozloha": {
                      "RozlohaHodnota": 6.4012,
                      "RozlohaJednotka": "ha",
                      "UIValue": "6.401 ha"
                    },
                    "RozlohaRelativ": 0.1,
                    "Kvalita": 2.72
                  }
                ],
                "Druhy": {
                  "InvazivnostTitulek": "Po kliknutí se zobrazí citace ...",
                  "SeznamDruhu": [
                    {
                      "DruhKat": "Obojživelníci",
                      "DruhNazevLat": "Bombina bombina",
                      "DruhNazevCz": "kuňka obecná",
                      "OchranaKat": "Silně ohrožený",
                      "Smernice": "HD II, HD IV",
                      "CervenySeznam": "HD II, HD IV",
                      "Invazivnost": null,
                      "RokPoslZaz": 2015,
                      "DruhKarta": "http://portal.nature.cz/publik_syst/nd_nalez-public.php?idTaxon=1"
                    },
                    {
                      "DruhKat": "Obojživelníci",
                      "DruhNazevLat": "Bufo bufo",
                      "DruhNazevCz": "ropucha obecná",
                      "OchranaKat": "Ohrožený",
                      "Smernice": null,
                      "CervenySeznam": null,
                      "Invazivnost": null,
                      "RokPoslZaz": 2015,
                      "DruhKarta": "http://portal.nature.cz/publik_syst/nd_nalez-public.php?idTaxon=4"
                    }
                  ]
                },
                "Podklady": [
                  {
                    "Citace": "HORA, M. Tajemství zkratky SLA. <i>Ekonomické a informační systémy v praxi</i> [online]. [cit. 2013-07-17], s. 1. ISSN 1802615X."
                  },
                  {
                    "Citace": "HÄRTEL, H.; LONČÁKOVÁ, J.; HOŠEK, M. (eds.)  (2009). <i>Mapování biotopů v České republice: Východiska, výsledky, perspektivy</i>. 1. vydání. Praha: Agentura ochrany přírody a krajiny ČR. 196 s., tabulky, mapy, CD-ROM. ISBN 978-80-87051-36-8."
                  }
                ],
                "Fotky": [
                  {
                    "Nazev": "Všivec bahenní v PR Mokřady pod Vlčkem ",
                    "Popis": null,
                    "CestaNahled": "http://fotoarchiv.nature.cz/showImage.php?id=44583&phototype=thumbnail",
                    "CestaVelky": "http://fotoarchiv.nature.cz/showImage.php?id=44583&phototype=nahled600",
                    "Autor": "Přemysl Tájek",
                    "Organizace": "AOPK ČR"
                  },
                  {
                    "Nazev": "Hvozdík pyšný v PR Mokřady pod Vlčkem ",
                    "Popis": null,
                    "CestaNahled": "http://fotoarchiv.nature.cz/showImage.php?id=44582&phototype=thumbnail",
                    "CestaVelky": "http://fotoarchiv.nature.cz/showImage.php?id=44582&phototype=nahled600",
                    "Autor": "Přemysl Tájek",
                    "Organizace": "AOPK ČR"
                  }
                ],
                "Prilohy": [
                  {
                    "Nazev": "obr_c.jpg",
                    "Popis": "test C",
                    "Velikost": {
                      "VelikostHodnota": 0.16,
                      "VelikostJednotka": "MB",
                      "UIValue": "0.16 MB"
                    },
                    "Odkaz": "http://localhost:49994/priloha/-3"
                  },
                  {
                    "Nazev": "obr_d.jpg",
                    "Popis": "test D",
                    "Velikost": {
                      "VelikostHodnota": 0.20,
                      "VelikostJednotka": "MB",
                      "UIValue": "0.20 MB"
                    },
                    "Odkaz": "http://localhost:49994/priloha/-4"
                  }
                ],
                "Projekty": [
                  {
                    "Nazev": "Testovací projekt",
                    "Realizator": "AOPK",
                    "Realizace": "od 07/2016 do 05/2020",
                    "Podpora": "100000 Kč",
                    "Zdroj": "Norské fondy",
                    "Anotace": "Toto je popis testovacího projektu",
                    "Fotky": [
                      {
                        "Nazev": "Slíďák dřevomilný",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=1385372814794ce56d6b.JPG&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=1385372814794ce56d6b.JPG",
                        "Autor": "Alois Pavlíčko",
                        "Organizace": "AOPK ČR"
                      },
                      {
                        "Nazev": "Mlynářská slať",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=13371766748e06cc42d.jpg&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=13371766748e06cc42d.jpg",
                        "Autor": "Danuše Turoňová",
                        "Organizace": "AOPK ČR"
                      }
                    ]
                  },
                  {
                    "Nazev": "Projekt LIFE+",
                    "Realizator": "ČZÚ",
                    "Realizace": "od 05/2010 do 06/2020",
                    "Podpora": "25024 Kč",
                    "Zdroj": "SFŽP",
                    "Anotace": "Test",
                    "Fotky": [
                      {
                        "Nazev": "Slíďák dřevomilný",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=1385372814794ce56d6b.JPG&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=1385372814794ce56d6b.JPG",
                        "Autor": "Alois Pavlíčko",
                        "Organizace": "AOPK ČR"
                      }
                    ]
                  }
                ]
              }
            }
            
## Ramsar - mapka [/ramsar/{id}/map?type={type}&width={width}&height={height}&f={f}]

+ Parameters
    + id: 2085 (number) - ID mokřadu
    + type (number, optional) - typ mapového výstupu
        + Default: 0
        + Members
            + 0 - výchozí mapka
            + 1 - přehledka
    + width (number, optional) - šířka mapky (px)
        + Default: 500
    + height (number, optional) - výška mapky (px)
        + Default: 500
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Ramsar - mapka [GET]

+ Response 200 (application/json)

            {
              "RamsarMap": {
                "IdNumber": 1,
                "MapType": 0,
                "ImgSource": [255,216,255,224,0,16,74,70,73,70,0,1,1,1,0,96,0,96,0,0,255,219,0,67,0,8,6,6,7,6,5,8,7,7,7,9,9,8,10,12,20,13,12,11,11,12,25,18,19,15,20,29,26,31,30,29,26,28,28,32,36,46,39,32,34,44,35,28,28,40,55,41,44,48,49,52,52,52,31,39,57,61,56,50,60,46,51,52,50,255,219,0,67,1,9,9,9,12,11,12,24,13,13,24,50,33,28,33,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,255,192,0,17,8,0,50,0,50,3,1,34,0,2,17,1,3,17,1,255,196,0,31,0,0,1,5,1,1,1,1,1,1,0,0,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9,10,11,255,196,0,181,16,0,2,1,3,3,2,4,3,5,5,4,4,0,0,1,125,1,2,3,0,4,17,5,18,33,49,65,6,19,81,97,7,34,113,20,50,129,145,161,8,35,66,177,193,21,82,209,240,36,51,98,114,130,9,10,22,23,24,25,26,37,38,39,40,41,42,52,53,54,55,56,57,58,67,68,69,70,71,72,73,74,83,84,85,86,87,88,89,90,99,100,101,102,103,104,105,106,115,116,117,118,119,120,121,122,131,132,133,134,135,136,137,138,146,147,148,149,150,151,152,153,154,162,163,164,165,166,167,168,169,170,178,179,180,181,182,183,184,185,186,194,195,196,197,198,199,200,201,202,210,211,212,213,214,215,216,217,218,225,226,227,228,229,230,231,232,233,234,241,242,243,244,245,246,247,248,249,250,255,196,0,31,1,0,3,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9,10,11,255,196,0,181,17,0,2,1,2,4,4,3,4,7,5,4,4,0,1,2,119,0,1,2,3,17,4,5,33,49,6,18,65,81,7,97,113,19,34,50,129,8,20,66,145,161,177,193,9,35,51,82,240,21,98,114,209,10,22,36,52,225,37,241,23,24,25,26,38,39,40,41,42,53,54,55,56,57,58,67,68,69,70,71,72,73,74,83,84,85,86,87,88,89,90,99,100,101,102,103,104,105,106,115,116,117,118,119,120,121,122,130,131,132,133,134,135,136,137,138,146,147,148,149,150,151,152,153,154,162,163,164,165,166,167,168,169,170,178,179,180,181,182,183,184,185,186,194,195,196,197,198,199,200,201,202,210,211,212,213,214,215,216,217,218,226,227,228,229,230,231,232,233,234,242,243,244,245,246,247,248,249,250,255,218,0,12,3,1,0,2,17,3,17,0,63,0,246,36,212,110,117,23,105,116,147,111,37,170,41,219,51,28,172,174,14,48,164,30,157,70,112,70,122,103,21,82,104,18,210,98,247,23,22,75,52,238,178,74,145,91,226,87,33,129,0,114,73,4,140,114,63,157,99,221,221,219,53,220,44,116,203,113,106,1,243,166,242,131,5,227,114,168,247,32,48,236,51,143,96,110,216,248,155,70,183,147,108,86,95,102,132,1,243,4,25,201,36,28,227,176,249,79,94,115,73,84,166,146,230,127,145,170,149,109,169,198,223,143,222,109,139,121,245,71,15,120,134,43,80,114,182,228,242,254,133,177,219,219,243,171,215,150,107,121,99,45,171,49,85,145,10,18,189,64,60,28,86,116,94,39,210,100,145,99,23,120,102,25,92,163,96,244,24,206,49,215,142,189,65,29,141,94,135,85,211,238,10,136,175,109,220,184,5,64,144,100,231,4,127,49,249,213,74,119,244,49,140,45,234,96,220,120,78,227,206,111,35,83,153,45,152,177,104,11,48,18,100,224,238,108,146,112,184,0,246,192,61,169,101,211,252,75,19,39,217,245,53,101,200,200,101,82,0,1,64,28,130,78,112,228,156,130,11,14,72,28,175,138,117,11,171,73,33,72,165,40,140,133,128,71,216,204,112,123,250,14,56,239,159,202,150,133,121,170,54,168,177,207,36,174,71,18,70,236,72,85,199,36,245,193,7,31,203,138,229,150,33,41,242,88,210,49,82,124,169,235,253,110,205,184,206,190,99,82,255,0,98,86,32,101,119,30,15,167,74,43,99,122,122,143,206,138,232,36,243,77,114,70,182,212,228,91,104,227,1,20,18,8,5,119,112,114,0,80,61,176,115,210,173,193,225,148,113,190,109,74,98,229,118,199,229,252,129,65,235,199,61,127,169,164,213,45,244,251,171,6,107,59,152,229,195,51,177,142,77,192,228,252,222,217,7,211,222,136,245,70,22,232,134,22,154,72,211,14,251,246,131,207,4,103,146,72,193,245,235,94,53,71,39,54,246,42,179,230,113,110,239,239,122,175,47,61,8,159,70,212,98,63,188,138,11,179,26,237,129,208,136,100,95,115,198,48,15,190,78,122,212,246,254,27,104,161,146,71,185,101,185,126,208,168,100,81,211,24,35,39,142,252,126,149,127,79,213,108,230,97,12,132,197,52,152,27,28,112,79,177,233,91,11,130,118,159,194,162,83,111,114,98,221,172,155,178,254,189,78,19,251,47,82,191,213,146,40,158,226,80,138,98,50,74,6,1,66,120,28,224,14,71,226,125,235,171,183,254,209,179,139,109,149,156,139,28,74,55,44,178,0,92,231,248,122,131,250,117,227,218,166,157,182,223,196,102,6,109,178,52,242,23,109,216,12,174,160,168,231,223,245,174,135,80,144,204,233,167,65,33,73,36,27,164,100,224,164,99,169,207,98,122,3,238,72,233,94,134,14,49,113,114,234,107,69,90,41,53,123,234,247,238,209,156,53,179,143,158,210,93,221,255,0,209,91,175,253,245,69,79,253,153,131,129,174,92,40,29,6,228,227,255,0,29,162,186,236,109,106,29,255,0,63,242,40,15,2,105,194,230,73,188,199,102,146,63,45,247,40,57,25,228,250,100,140,128,113,198,120,227,2,183,191,178,237,18,242,59,168,162,17,202,131,25,65,198,62,157,59,159,122,177,4,168,234,173,25,221,27,168,101,60,242,15,215,240,167,205,50,69,25,119,96,170,58,147,78,201,156,137,181,177,130,250,61,164,247,37,103,183,72,93,62,98,80,126,234,69,232,120,63,116,227,61,49,201,200,38,179,39,186,77,15,86,123,101,138,69,177,56,101,82,50,99,247,28,156,169,60,254,62,189,95,171,196,82,210,92,27,151,55,47,229,140,198,79,7,28,145,215,7,29,200,193,201,244,169,30,198,194,109,194,107,137,20,196,90,33,177,179,35,246,249,155,208,142,222,254,245,203,90,132,103,29,21,152,221,165,172,158,189,255,0,174,133,59,102,125,107,87,251,84,2,84,242,2,5,1,3,19,130,79,36,156,47,235,90,146,104,87,115,220,181,218,220,44,19,17,180,137,51,56,113,219,114,229,87,35,156,96,113,235,89,54,171,167,89,73,40,131,86,72,240,95,153,17,163,219,133,231,39,3,56,207,80,123,226,180,173,102,185,37,99,183,213,224,156,178,151,1,101,12,228,21,33,14,8,56,25,199,110,72,57,38,181,161,73,83,133,186,155,168,70,63,4,239,234,139,63,216,23,191,244,22,31,133,156,127,225,69,107,160,186,216,187,138,231,28,245,162,181,51,230,125,215,220,191,200,134,236,148,182,151,105,219,182,38,219,142,49,193,168,116,133,31,98,105,112,60,198,3,115,227,147,199,115,69,20,35,35,51,196,60,176,83,247,124,146,216,237,156,30,126,181,146,178,57,241,46,168,165,219,104,217,129,158,7,203,69,21,156,182,38,174,204,229,252,64,205,253,139,120,114,115,153,249,207,251,79,254,2,166,240,191,252,140,250,87,185,25,247,255,0,71,132,255,0,58,40,171,45,108,122,253,20,81,84,35,255,217],
                "ImgFormat": "Jpeg",
                "ImgScale": 85940
              }
            }

## Ramsar - mapka - jen obrázek [/ramsar/{id}/mapimage?type={type}&width={width}&height={height}]

+ Parameters
    + id: 2085 (number) - ID mokřadu
    + type (number, optional) - typ mapového výstupu
        + Default: 0
        + Members
            + 0 - výchozí mapka
            + 1 - přehledka
    + width (number, optional) - šířka mapky (px)
        + Default: 500
    + height (number, optional) - výška mapky (px)
        + Default: 500

### Ramsar - mapka - jen obrázek [GET]

+ Response 200 (image/jpeg)

## MOK_IR002 Mokřad - karta - dle ID [/mokrad/{id}?f={f}]

+ Parameters
    + id: 2049 (number) - ID mokřadu
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Mokřad - karta - dle ID [GET]

+ Response 200 (application/json)

            {
              "Mokrad": {
                "IdNumber": 2049,
                "Nazev": "Mokřady pod Vlčkem",
                "NazevRamsar": "Pramenné vývěry a rašeliniště Slavkovského lesa",
                "Kod": "RS14.06",
                "Lokalizace": {
                  "Lat": 50.039693,
                  "Lon": 12.731283,
                  "UIValue": "50.039693 12.731283"
                },
                "OdkazMapaObr": "http://webgis.nature.cz/aopkrest/wetlands/mokrad/2049/map",
                "OdkazPrehledObr": "http://webgis.nature.cz/aopkrest/wetlands/mokrad/2049/map?typ=1",
                "OdkazMapOkno": "http://webgis.nature.cz/mokrady?vrstva=1&najdi=Mokřady pod Vlčkem",
                "Rozloha": {
                  "RozlohaHodnota": 42.3121,
                  "RozlohaJednotka": "ha",
                  "UIValue": "42.312 ha"
                },
                "Typy": [
                  {
                    "Kod": 5,
                    "Popis": "zaplavovaná nebo mokrá louka"
                  },
                  {
                    "Kod": 1,
                    "Popis": "pramen, prameniště"
                  }
                ],
                "Kategorie": "Podlokalita mezinárodně významného mokřadu",
                "Duvody": [
                  {
                    "Kod": "O ",
                    "Popis": "ornitologicky významný"
                  }
                ],
                "Stupne": [
                  {
                    "Kod": "PR",
                    "Popis": "Přírodní rezervace"
                  }
                ],
                "NadmVyska": {
                  "VyskaMin": 738,
                  "VyskaMax": 800,
                  "UIValue": "738 - 800"
                },
                "Stav": 0,
                "Charakter": null,
                "Geologie": null,
                "Flora": null,
                "Fauna": null,
                "Vyuziti": null,
                "Poznamka": null,
                "Biotopy": [
                  {
                    "Kod": "V1G",
                    "Nazev": "Makrofytní vegetace přirozeně eutrofních a mezotrofních stojatých vod, porosty bez ochranářsky významných vodních makrofytů",
                    "StanovisteKod": null,
                    "StanovisteNazev": null,
                    "Rozloha": {
                      "RozlohaHodnota": 0.1648,
                      "RozlohaJednotka": "ha",
                      "UIValue": "0.165 ha"
                    },
                    "RozlohaRelativ": 0.39,
                    "Kvalita": null
                  },
                  {
                    "Kod": "V3",
                    "Nazev": "Makrofytní vegetace oligotrofních jezírek a tůní",
                    "StanovisteKod": "3160",
                    "StanovisteNazev": "Přirozená dystrofní jezera a tůně",
                    "Rozloha": {
                      "RozlohaHodnota": 0.0384,
                      "RozlohaJednotka": "ha",
                      "UIValue": "0.038 ha"
                    },
                    "RozlohaRelativ": 0.09,
                    "Kvalita": 2.0
                  }
                ],
                "Druhy": {
                  "InvazivnostTitulek": "Po kliknutí se zobrazí citace ...",
                  "SeznamDruhu": [
                    {
                      "DruhKat": "Obojživelníci",
                      "DruhNazevLat": "Bufo bufo",
                      "DruhNazevCz": "ropucha obecná",
                      "OchranaKat": "Ohrožený",
                      "Smernice": null,
                      "CervenySeznam": null,
                      "Invazivnost": null,
                      "RokPoslZaz": 2015,
                      "DruhKarta": "http://portal.nature.cz/publik_syst/nd_nalez-public.php?idTaxon=4"
                    },
                    {
                      "DruhKat": "Obojživelníci",
                      "DruhNazevLat": "Rana lessonae",
                      "DruhNazevCz": "skokan krátkonohý",
                      "OchranaKat": "Silně ohrožený",
                      "Smernice": "HD IV",
                      "CervenySeznam": "HD IV",
                      "Invazivnost": null,
                      "RokPoslZaz": 2015,
                      "DruhKarta": "http://portal.nature.cz/publik_syst/nd_nalez-public.php?idTaxon=14"
                    }
                  ]
                },
                "Podklady": [
                  {
                    "Citace": "<i>Ekonomické a informační systémy v praxi</i> [online]. CCB spol. s r. o., 2010 [cit. ]. Dostupné online &lt;<a href = \"http://www.systemonline.cz\">http://www.systemonline.cz</a>&gt;. ISSN 1802-615X."
                  },
                  {
                    "Citace": "HÄRTEL, H.; LONČÁKOVÁ, J.; HOŠEK, M. (eds.)  (2009). <i>Mapování biotopů v České republice: Východiska, výsledky, perspektivy</i>. 1. vydání. Praha: Agentura ochrany přírody a krajiny ČR. 196 s., tabulky, mapy, CD-ROM. ISBN 978-80-87051-36-8."
                  }
                ],
                "Fotky": [
                  {
                    "Nazev": "Všivec bahenní v PR Mokřady pod Vlčkem ",
                    "Popis": null,
                    "CestaNahled": "http://fotoarchiv.nature.cz/showImage.php?id=44583&phototype=thumbnail",
                    "CestaVelky": "http://fotoarchiv.nature.cz/showImage.php?id=44583&phototype=nahled600",
                    "Autor": "Přemysl Tájek",
                    "Organizace": "AOPK ČR"
                  },
                  {
                    "Nazev": "Hvozdík pyšný v PR Mokřady pod Vlčkem ",
                    "Popis": null,
                    "CestaNahled": "http://fotoarchiv.nature.cz/showImage.php?id=44582&phototype=thumbnail",
                    "CestaVelky": "http://fotoarchiv.nature.cz/showImage.php?id=44582&phototype=nahled600",
                    "Autor": "Přemysl Tájek",
                    "Organizace": "AOPK ČR"
                  }
                ],
                "Prilohy": [
                  {
                    "Nazev": "obr_a.jpg",
                    "Popis": "test A",
                    "Velikost": {
                      "VelikostHodnota": 0.19,
                      "VelikostJednotka": "MB",
                      "UIValue": "0,19 MB"
                    },
                    "Odkaz": "http://localhost:49994/priloha/-1"
                  },
                  {
                    "Nazev": "obr_b.jpg",
                    "Popis": "test B",
                    "Velikost": {
                      "VelikostHodnota": 0.17,
                      "VelikostJednotka": "MB",
                      "UIValue": "0,17 MB"
                    },
                    "Odkaz": "http://localhost:49994/priloha/-2"
                  }
                ],
                "Projekty": [
                  {
                    "Nazev": "Testovací projekt",
                    "Realizator": "AOPK",
                    "Realizace": "od 07/2016 do 05/2020",
                    "Podpora": "100000 Kč",
                    "Zdroj": "Norské fondy",
                    "Anotace": "Toto je popis testovacího projektu",
                    "Fotky": [
                      {
                        "Nazev": "Slíďák dřevomilný",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=1385372814794ce56d6b.JPG&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=1385372814794ce56d6b.JPG",
                        "Autor": "Alois Pavlíčko",
                        "Organizace": "AOPK ČR"
                      },
                      {
                        "Nazev": "Mlynářská slať",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=13371766748e06cc42d.jpg&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=13371766748e06cc42d.jpg",
                        "Autor": "Danuše Turoňová",
                        "Organizace": "AOPK ČR"
                      }
                    ]
                  },
                  {
                    "Nazev": "Projekt LIFE+",
                    "Realizator": "ČZÚ",
                    "Realizace": "od 05/2010 do 06/2020",
                    "Podpora": "25024 Kč",
                    "Zdroj": "SFŽP",
                    "Anotace": "Test",
                    "Fotky": [
                      {
                        "Nazev": "Slíďák dřevomilný",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=1385372814794ce56d6b.JPG&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=1385372814794ce56d6b.JPG",
                        "Autor": "Alois Pavlíčko",
                        "Organizace": "AOPK ČR"
                      }
                    ]
                  }
                ]
              }
            }

## MOK_IR002 Mokřad - karta - dle kódu [/mokrad/{code}?f={f}]

+ Parameters
    + code: RS14.06 (string) - kód mokřadu
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Mokřad - karta - dle kódu [GET]

+ Response 200 (application/json)

            {
              "Mokrad": {
                "IdNumber": 2049,
                "Nazev": "Mokřady pod Vlčkem",
                "NazevRamsar": "Pramenné vývěry a rašeliniště Slavkovského lesa",
                "Kod": "RS14.06",
                "Lokalizace": {
                  "Lat": 50.039693,
                  "Lon": 12.731283,
                  "UIValue": "50.039693 12.731283"
                },
                "OdkazMapaObr": "http://webgis.nature.cz/aopkrest/wetlands/mokrad/2049/map",
                "OdkazPrehledObr": "http://webgis.nature.cz/aopkrest/wetlands/mokrad/2049/map?typ=1",
                "OdkazMapOkno": "http://webgis.nature.cz/mokrady?vrstva=1&najdi=Mokřady pod Vlčkem",
                "Rozloha": {
                  "RozlohaHodnota": 42.3121,
                  "RozlohaJednotka": "ha",
                  "UIValue": "42.312 ha"
                },
                "Typy": [
                  {
                    "Kod": 5,
                    "Popis": "zaplavovaná nebo mokrá louka"
                  },
                  {
                    "Kod": 1,
                    "Popis": "pramen, prameniště"
                  }
                ],
                "Kategorie": "Podlokalita mezinárodně významného mokřadu",
                "Duvody": [
                  {
                    "Kod": "O ",
                    "Popis": "ornitologicky významný"
                  }
                ],
                "Stupne": [
                  {
                    "Kod": "PR",
                    "Popis": "Přírodní rezervace"
                  }
                ],
                "NadmVyska": {
                  "VyskaMin": 738,
                  "VyskaMax": 800,
                  "UIValue": "738 - 800"
                },
                "Stav": 0,
                "Charakter": null,
                "Geologie": null,
                "Flora": null,
                "Fauna": null,
                "Vyuziti": null,
                "Poznamka": null,
                "Biotopy": [
                  {
                    "Kod": "V1G",
                    "Nazev": "Makrofytní vegetace přirozeně eutrofních a mezotrofních stojatých vod, porosty bez ochranářsky významných vodních makrofytů",
                    "StanovisteKod": null,
                    "StanovisteNazev": null,
                    "Rozloha": {
                      "RozlohaHodnota": 0.1648,
                      "RozlohaJednotka": "ha",
                      "UIValue": "0.165 ha"
                    },
                    "RozlohaRelativ": 0.39,
                    "Kvalita": null
                  },
                  {
                    "Kod": "V3",
                    "Nazev": "Makrofytní vegetace oligotrofních jezírek a tůní",
                    "StanovisteKod": "3160",
                    "StanovisteNazev": "Přirozená dystrofní jezera a tůně",
                    "Rozloha": {
                      "RozlohaHodnota": 0.0384,
                      "RozlohaJednotka": "ha",
                      "UIValue": "0.038 ha"
                    },
                    "RozlohaRelativ": 0.09,
                    "Kvalita": 2.0
                  }
                ],
                "Druhy": {
                  "InvazivnostTitulek": "Po kliknutí se zobrazí citace ...",
                  "SeznamDruhu": [
                    {
                      "DruhKat": "Obojživelníci",
                      "DruhNazevLat": "Bufo bufo",
                      "DruhNazevCz": "ropucha obecná",
                      "OchranaKat": "Ohrožený",
                      "Smernice": null,
                      "CervenySeznam": null,
                      "Invazivnost": null,
                      "RokPoslZaz": 2015,
                      "DruhKarta": "http://portal.nature.cz/publik_syst/nd_nalez-public.php?idTaxon=4"
                    },
                    {
                      "DruhKat": "Obojživelníci",
                      "DruhNazevLat": "Rana lessonae",
                      "DruhNazevCz": "skokan krátkonohý",
                      "OchranaKat": "Silně ohrožený",
                      "Smernice": "HD IV",
                      "CervenySeznam": "HD IV",
                      "Invazivnost": null,
                      "RokPoslZaz": 2015,
                      "DruhKarta": "http://portal.nature.cz/publik_syst/nd_nalez-public.php?idTaxon=14"
                    }
                  ]
                },
                "Podklady": [
                  {
                    "Citace": "<i>Ekonomické a informační systémy v praxi</i> [online]. CCB spol. s r. o., 2010 [cit. ]. Dostupné online &lt;<a href = \"http://www.systemonline.cz\">http://www.systemonline.cz</a>&gt;. ISSN 1802-615X."
                  },
                  {
                    "Citace": "HÄRTEL, H.; LONČÁKOVÁ, J.; HOŠEK, M. (eds.)  (2009). <i>Mapování biotopů v České republice: Východiska, výsledky, perspektivy</i>. 1. vydání. Praha: Agentura ochrany přírody a krajiny ČR. 196 s., tabulky, mapy, CD-ROM. ISBN 978-80-87051-36-8."
                  }
                ],
                "Fotky": [
                  {
                    "Nazev": "Všivec bahenní v PR Mokřady pod Vlčkem ",
                    "Popis": null,
                    "CestaNahled": "http://fotoarchiv.nature.cz/showImage.php?id=44583&phototype=thumbnail",
                    "CestaVelky": "http://fotoarchiv.nature.cz/showImage.php?id=44583&phototype=nahled600",
                    "Autor": "Přemysl Tájek",
                    "Organizace": "AOPK ČR"
                  },
                  {
                    "Nazev": "Hvozdík pyšný v PR Mokřady pod Vlčkem ",
                    "Popis": null,
                    "CestaNahled": "http://fotoarchiv.nature.cz/showImage.php?id=44582&phototype=thumbnail",
                    "CestaVelky": "http://fotoarchiv.nature.cz/showImage.php?id=44582&phototype=nahled600",
                    "Autor": "Přemysl Tájek",
                    "Organizace": "AOPK ČR"
                  }
                ],
                "Prilohy": [
                  {
                    "Nazev": "obr_a.jpg",
                    "Popis": "test A",
                    "Velikost": {
                      "VelikostHodnota": 0.19,
                      "VelikostJednotka": "MB",
                      "UIValue": "0,19 MB"
                    },
                    "Odkaz": "http://localhost:49994/priloha/-1"
                  },
                  {
                    "Nazev": "obr_b.jpg",
                    "Popis": "test B",
                    "Velikost": {
                      "VelikostHodnota": 0.17,
                      "VelikostJednotka": "MB",
                      "UIValue": "0,17 MB"
                    },
                    "Odkaz": "http://localhost:49994/priloha/-2"
                  }
                ],
                "Projekty": [
                  {
                    "Nazev": "Testovací projekt",
                    "Realizator": "AOPK",
                    "Realizace": "od 07/2016 do 05/2020",
                    "Podpora": "100000 Kč",
                    "Zdroj": "Norské fondy",
                    "Anotace": "Toto je popis testovacího projektu",
                    "Fotky": [
                      {
                        "Nazev": "Slíďák dřevomilný",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=1385372814794ce56d6b.JPG&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=1385372814794ce56d6b.JPG",
                        "Autor": "Alois Pavlíčko",
                        "Organizace": "AOPK ČR"
                      },
                      {
                        "Nazev": "Mlynářská slať",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=13371766748e06cc42d.jpg&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=13371766748e06cc42d.jpg",
                        "Autor": "Danuše Turoňová",
                        "Organizace": "AOPK ČR"
                      }
                    ]
                  },
                  {
                    "Nazev": "Projekt LIFE+",
                    "Realizator": "ČZÚ",
                    "Realizace": "od 05/2010 do 06/2020",
                    "Podpora": "25024 Kč",
                    "Zdroj": "SFŽP",
                    "Anotace": "Test",
                    "Fotky": [
                      {
                        "Nazev": "Slíďák dřevomilný",
                        "Popis": null,
                        "CestaNahled": "http://fotoarchiv.nature.cz/squareImage.php?image=1385372814794ce56d6b.JPG&size=200",
                        "CestaVelky": "http://fotoarchiv.nature.cz/galImage.php?image=1385372814794ce56d6b.JPG",
                        "Autor": "Alois Pavlíčko",
                        "Organizace": "AOPK ČR"
                      }
                    ]
                  }
                ]
              }
            }
            
## Mokřad - mapka [/mokrad/{id}/map?type={type}&width={width}&height={height}&f={f}]

+ Parameters
    + id: 2049 (number) - ID mokřadu
    + type (number, optional) - typ mapového výstupu
        + Default: 0
        + Members
            + 0 - výchozí mapka
            + 1 - přehledka
    + width (number, optional) - šířka mapky (px)
        + Default: 500
    + height (number, optional) - výška mapky (px)
        + Default: 500
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Mokřad - mapka [GET]

+ Response 200 (application/json)

        {
          "RamsarMap": {
            "IdNumber": 1,
            "MapType": 0,
            "ImgSource": [255,216,255,224,0,16,74,70,73,70,0,1,1,1,0,96,0,96,0,0,255,219,0,67,0,8,6,6,7,6,5,8,7,7,7,9,9,8,10,12,20,13,12,11,11,12,25,18,19,15,20,29,26,31,30,29,26,28,28,32,36,46,39,32,34,44,35,28,28,40,55,41,44,48,49,52,52,52,31,39,57,61,56,50,60,46,51,52,50,255,219,0,67,1,9,9,9,12,11,12,24,13,13,24,50,33,28,33,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,255,192,0,17,8,0,50,0,50,3,1,34,0,2,17,1,3,17,1,255,196,0,31,0,0,1,5,1,1,1,1,1,1,0,0,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9,10,11,255,196,0,181,16,0,2,1,3,3,2,4,3,5,5,4,4,0,0,1,125,1,2,3,0,4,17,5,18,33,49,65,6,19,81,97,7,34,113,20,50,129,145,161,8,35,66,177,193,21,82,209,240,36,51,98,114,130,9,10,22,23,24,25,26,37,38,39,40,41,42,52,53,54,55,56,57,58,67,68,69,70,71,72,73,74,83,84,85,86,87,88,89,90,99,100,101,102,103,104,105,106,115,116,117,118,119,120,121,122,131,132,133,134,135,136,137,138,146,147,148,149,150,151,152,153,154,162,163,164,165,166,167,168,169,170,178,179,180,181,182,183,184,185,186,194,195,196,197,198,199,200,201,202,210,211,212,213,214,215,216,217,218,225,226,227,228,229,230,231,232,233,234,241,242,243,244,245,246,247,248,249,250,255,196,0,31,1,0,3,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9,10,11,255,196,0,181,17,0,2,1,2,4,4,3,4,7,5,4,4,0,1,2,119,0,1,2,3,17,4,5,33,49,6,18,65,81,7,97,113,19,34,50,129,8,20,66,145,161,177,193,9,35,51,82,240,21,98,114,209,10,22,36,52,225,37,241,23,24,25,26,38,39,40,41,42,53,54,55,56,57,58,67,68,69,70,71,72,73,74,83,84,85,86,87,88,89,90,99,100,101,102,103,104,105,106,115,116,117,118,119,120,121,122,130,131,132,133,134,135,136,137,138,146,147,148,149,150,151,152,153,154,162,163,164,165,166,167,168,169,170,178,179,180,181,182,183,184,185,186,194,195,196,197,198,199,200,201,202,210,211,212,213,214,215,216,217,218,226,227,228,229,230,231,232,233,234,242,243,244,245,246,247,248,249,250,255,218,0,12,3,1,0,2,17,3,17,0,63,0,246,36,212,110,117,23,105,116,147,111,37,170,41,219,51,28,172,174,14,48,164,30,157,70,112,70,122,103,21,82,104,18,210,98,247,23,22,75,52,238,178,74,145,91,226,87,33,129,0,114,73,4,140,114,63,157,99,221,221,219,53,220,44,116,203,113,106,1,243,166,242,131,5,227,114,168,247,32,48,236,51,143,96,110,216,248,155,70,183,147,108,86,95,102,132,1,243,4,25,201,36,28,227,176,249,79,94,115,73,84,166,146,230,127,145,170,149,109,169,198,223,143,222,109,139,121,245,71,15,120,134,43,80,114,182,228,242,254,133,177,219,219,243,171,215,150,107,121,99,45,171,49,85,145,10,18,189,64,60,28,86,116,94,39,210,100,145,99,23,120,102,25,92,163,96,244,24,206,49,215,142,189,65,29,141,94,135,85,211,238,10,136,175,109,220,184,5,64,144,100,231,4,127,49,249,213,74,119,244,49,140,45,234,96,220,120,78,227,206,111,35,83,153,45,152,177,104,11,48,18,100,224,238,108,146,112,184,0,246,192,61,169,101,211,252,75,19,39,217,245,53,101,200,200,101,82,0,1,64,28,130,78,112,228,156,130,11,14,72,28,175,138,117,11,171,73,33,72,165,40,140,133,128,71,216,204,112,123,250,14,56,239,159,202,150,133,121,170,54,168,177,207,36,174,71,18,70,236,72,85,199,36,245,193,7,31,203,138,229,150,33,41,242,88,210,49,82,124,169,235,253,110,205,184,206,190,99,82,255,0,98,86,32,101,119,30,15,167,74,43,99,122,122,143,206,138,232,36,243,77,114,70,182,212,228,91,104,227,1,20,18,8,5,119,112,114,0,80,61,176,115,210,173,193,225,148,113,190,109,74,98,229,118,199,229,252,129,65,235,199,61,127,169,164,213,45,244,251,171,6,107,59,152,229,195,51,177,142,77,192,228,252,222,217,7,211,222,136,245,70,22,232,134,22,154,72,211,14,251,246,131,207,4,103,146,72,193,245,235,94,53,71,39,54,246,42,179,230,113,110,239,239,122,175,47,61,8,159,70,212,98,63,188,138,11,179,26,237,129,208,136,100,95,115,198,48,15,190,78,122,212,246,254,27,104,161,146,71,185,101,185,126,208,168,100,81,211,24,35,39,142,252,126,149,127,79,213,108,230,97,12,132,197,52,152,27,28,112,79,177,233,91,11,130,118,159,194,162,83,111,114,98,221,172,155,178,254,189,78,19,251,47,82,191,213,146,40,158,226,80,138,98,50,74,6,1,66,120,28,224,14,71,226,125,235,171,183,254,209,179,139,109,149,156,139,28,74,55,44,178,0,92,231,248,122,131,250,117,227,218,166,157,182,223,196,102,6,109,178,52,242,23,109,216,12,174,160,168,231,223,245,174,135,80,144,204,233,167,65,33,73,36,27,164,100,224,164,99,169,207,98,122,3,238,72,233,94,134,14,49,113,114,234,107,69,90,41,53,123,234,247,238,209,156,53,179,143,158,210,93,221,255,0,209,91,175,253,245,69,79,253,153,131,129,174,92,40,29,6,228,227,255,0,29,162,186,236,109,106,29,255,0,63,242,40,15,2,105,194,230,73,188,199,102,146,63,45,247,40,57,25,228,250,100,140,128,113,198,120,227,2,183,191,178,237,18,242,59,168,162,17,202,131,25,65,198,62,157,59,159,122,177,4,168,234,173,25,221,27,168,101,60,242,15,215,240,167,205,50,69,25,119,96,170,58,147,78,201,156,137,181,177,130,250,61,164,247,37,103,183,72,93,62,98,80,126,234,69,232,120,63,116,227,61,49,201,200,38,179,39,186,77,15,86,123,101,138,69,177,56,101,82,50,99,247,28,156,169,60,254,62,189,95,171,196,82,210,92,27,151,55,47,229,140,198,79,7,28,145,215,7,29,200,193,201,244,169,30,198,194,109,194,107,137,20,196,90,33,177,179,35,246,249,155,208,142,222,254,245,203,90,132,103,29,21,152,221,165,172,158,189,255,0,174,133,59,102,125,107,87,251,84,2,84,242,2,5,1,3,19,130,79,36,156,47,235,90,146,104,87,115,220,181,218,220,44,19,17,180,137,51,56,113,219,114,229,87,35,156,96,113,235,89,54,171,167,89,73,40,131,86,72,240,95,153,17,163,219,133,231,39,3,56,207,80,123,226,180,173,102,185,37,99,183,213,224,156,178,151,1,101,12,228,21,33,14,8,56,25,199,110,72,57,38,181,161,73,83,133,186,155,168,70,63,4,239,234,139,63,216,23,191,244,22,31,133,156,127,225,69,107,160,186,216,187,138,231,28,245,162,181,51,230,125,215,220,191,200,134,236,148,182,151,105,219,182,38,219,142,49,193,168,116,133,31,98,105,112,60,198,3,115,227,147,199,115,69,20,35,35,51,196,60,176,83,247,124,146,216,237,156,30,126,181,146,178,57,241,46,168,165,219,104,217,129,158,7,203,69,21,156,182,38,174,204,229,252,64,205,253,139,120,114,115,153,249,207,251,79,254,2,166,240,191,252,140,250,87,185,25,247,255,0,71,132,255,0,58,40,171,45,108,122,253,20,81,84,35,255,217],
            "ImgFormat": "Jpeg",
            "ImgScale": 85940
          }
        }
        
## Mokřad - mapka - jen obrázek [/mokrad/{id}/mapimage?type={type}&width={width}&height={height}]

+ Parameters
    + id: 2049 (number) - ID mokřadu
    + type (number, optional) - typ mapového výstupu
        + Default: 0
        + Members
            + 0 - výchozí mapka
            + 1 - přehledka
    + width (number, optional) - šířka mapky (px)
        + Default: 500
    + height (number, optional) - výška mapky (px)
        + Default: 500

### Mokřad - mapka - jen obrázek [GET]

+ Response 200 (image/jpeg)

## MOK_IR003 Číselníky [/ciselniky?{lng}&f={f}]

+ Parameters
    + lng (string, optional) - jazyková mutace
        + Default: cz
        + Members
            + cz
            + en
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Číselníky [GET]

+ Response 200 (application/json)

            {
              "MokradyCiselniky": {
                "MokradyKategorie": [
                  {
                    "Kod": 1,
                    "Popis": "Mezinárodně významné mokřady"
                  },
                  {
                    "Kod": 2,
                    "Popis": "Podlokalita mezinárodně významného mokřadu"
                  },
                  {
                    "Kod": 3,
                    "Popis": "Nadregionální význam"
                  },
                  {
                    "Kod": 4,
                    "Popis": "Regionální význam"
                  },
                  {
                    "Kod": 5,
                    "Popis": "Lokální význam"
                  }
                ],
                "MokradyTypy": [
                  {
                    "Kod": 0,
                    "Popis": "neuvedeno"
                  },
                  {
                    "Kod": 1,
                    "Popis": "pramen, prameniště"
                  },
                  {
                    "Kod": 2,
                    "Popis": "tok, úsek toku"
                  },
                  {
                    "Kod": 3,
                    "Popis": "nivní jezero, mrtvé rameno, tůň"
                  },
                  {
                    "Kod": 4,
                    "Popis": "lužní les, olšina či jiné mokřadní lesy"
                  },
                  {
                    "Kod": 5,
                    "Popis": "zaplavovaná nebo mokrá louka"
                  },
                  {
                    "Kod": 6,
                    "Popis": "jiné vodní a bažinné biotopy"
                  },
                  {
                    "Kod": 7,
                    "Popis": "rákosina, ostřicová louka"
                  },
                  {
                    "Kod": 8,
                    "Popis": "rašeliniště a slatiniště"
                  },
                  {
                    "Kod": 9,
                    "Popis": "horské jezero"
                  },
                  {
                    "Kod": 10,
                    "Popis": "slanisko"
                  },
                  {
                    "Kod": 11,
                    "Popis": "kanál, stoka, příkop"
                  },
                  {
                    "Kod": 12,
                    "Popis": "průmyslová odkalovací nádrž"
                  },
                  {
                    "Kod": 13,
                    "Popis": "rybník, klausura"
                  },
                  {
                    "Kod": 14,
                    "Popis": "soustava rybníků"
                  },
                  {
                    "Kod": 15,
                    "Popis": "údolní nádrž"
                  },
                  {
                    "Kod": 16,
                    "Popis": "lom, štěrkovna, pískovna"
                  }
                ],
                "RamsarKriteria": [
                  {
                    "Kod": 1,
                    "Popis": "Mokřad představuje typický, vzácný nebo unikátní přírodní nebo přírodě blízký mokřad pro daný biogeografický region."
                  },
                  {
                    "Kod": 2,
                    "Popis": "Mokřad je obýván zranitelnými, ohroženými nebo kriticky ohroženými druhy nebo ohroženými společenstvy."
                  },
                  {
                    "Kod": 3,
                    "Popis": "Mokřad je obýván populacemi rostlin nebo živočichů důležitých pro uchování biologické rozmanitosti daného biogeografického regionu."
                  },
                  {
                    "Kod": 4,
                    "Popis": "Mokřad má zvláštní význam pro rostliny nebo živočichy v kritickém stadiu jejich životních cyklů, nebo jim poskytuje úkryt v případě nepříznivých podmínek."
                  },
                  {
                    "Kod": 5,
                    "Popis": "Mokřad je pravidelně využíván více než 20 000 vodních ptáku."
                  },
                  {
                    "Kod": 6,
                    "Popis": "Mokřad je pravidelně využíván alespoň 1% jedinců populace jednoho druhu nebo poddruhu vodních ptáku."
                  },
                  {
                    "Kod": 7,
                    "Popis": "Mokřad je pravidelně využíván podstatnou částí jedinců geograficky původních poddruhů, druhů nebo čeledí ryb, jejich vývojových stádií, a jsou-li zde specifické mezidruhové vztahy nebo populace významné pro ekonomický přínos nebo ochranářskou hodnotu přispívající k celkové biologické rozmanitosti."
                  },
                  {
                    "Kod": 8,
                    "Popis": "Mokřad je důležitým zdrojem potravy pro ryby, trdlištěm, místem vývoje plůdku nebo tahovou cestou, na které jsou ryby, ať již daného mokřadu nebo i mimo něj, závislé."
                  },
                  {
                    "Kod": 9,
                    "Popis": "Mokřad je pravidelně využíván více než 1% jedinců populace jednoho druhu nebo poddruhu na mokřadech závislých živočichů (jiných než ptáků)."
                  }
                ]
              }
            }
            
## MOK_IR004 Filtrování mokřadů [/filter?nazev={nazev}&kod={kod}&kategorie={kategorie}&typ={typ}&zakres={zakres}&seradit={seradit}&sestupne={sestupne}&od={od}&kolik={kolik}&lng={lng}&f={f}]

+ Parameters
    + nazev (string, optional)
    + kod (string, optional)
    + kategorie (int, optional)
    + typ (int[], optional)
    + zakres (string, optional) - zákres dle ArcGIS JavaScript API (*.toJson()) viz https://developers.arcgis.com/javascript/3/jsapi/geometry-amd.html
    + seradit (string, optional) - pole, podle kterého bude seznam seřazen
        + Default: nazev
        + Members
            + nazev - řazení dle názvu
            + kod - řazení dle kódu
            + kategorie - řazení dle kategorie
    + sestupne (number, optional)
        + Default: 0
        + Members
            + 0 - vzestupně
            + 1 - sestupně
    + od (number, optional) - od kolikátého záznamu vracet výsledky
        + Default: 0
    + kolik (number, optional) - kolik vrátit záznamů
        + Default: 20
    + lng (string, optional) - jazyková mutace
        + Default: cz
        + Members
            + cz
            + en
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Filtrování mokřadů [POST]

+ Response 200 (application/json)

            {
              "LokalitySeznam": [
                {
                  "IdNumber": 1401,
                  "Kod": "R.VS.07",
                  "Nazev": "Adámky",
                  "Kategorie": 4,
                  "KategorieNazev": "Regionální význam",
                  "Typy": [
                    {
                      "Kod": 1,
                      "Popis": "pramen, prameniště"
                    }
                  ]
                },
                {
                  "IdNumber": 36,
                  "Kod": "RS4.01",
                  "Nazev": "Allah I – VII",
                  "Kategorie": 2,
                  "KategorieNazev": "Podlokalita mezinárodně významného mokřadu",
                  "Typy": [
                    {
                      "Kod": 4,
                      "Popis": "lužní les, olšina či jiné mokřadní lesy"
                    },
                    {
                      "Kod": 13,
                      "Popis": "rybník, klausura"
                    },
                    {
                      "Kod": 7,
                      "Popis": "rákosina, ostřicová louka"
                    }
                  ]
                }
              ],
              "LokalityCelkovyPocet": 2055
            }

## Filtrování mokřadů - našeptávač [/filter/all?lng={lng}&f={f}]

+ Parameters
    + lng (string, optional) - jazyková mutace
        + Default: cz
        + Members
            + cz
            + en
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Filtrování mokřadů - našeptávač [GET]

+ Response 200 (application/json)

            {
              "LokalitySeznam": [
                    {
                      "IdNumber": 36,
                      "Kod": "RS4.01",
                      "Nazev": "Allah I – VII",
                      "Kategorie": 2,
                      "RamsarIdNumber": 2084,
                      "Typy": [
                        {
                          "Kod": 13,
                          "Popis": "rybník, klausura"
                        },
                        {
                          "Kod": 4,
                          "Popis": "lužní les, olšina či jiné mokřadní lesy"
                        },
                        {
                          "Kod": 7,
                          "Popis": "rákosina, ostřicová louka"
                        }
                      ]
                    },
                    {
                      "IdNumber": 37,
                      "Kod": "RS4.02",
                      "Nazev": "Lednické rybníky",
                      "Kategorie": 2,
                      "RamsarIdNumber": 2084,
                      "Typy": [
                        {
                          "Kod": 4,
                          "Popis": "lužní les, olšina či jiné mokřadní lesy"
                        },
                        {
                          "Kod": 14,
                          "Popis": "soustava rybníků"
                        },
                        {
                          "Kod": 7,
                          "Popis": "rákosina, ostřicová louka"
                        }
                      ]
                    }
              ]
            }

## MOK_IR005 Ramsar - seznam [/ramsar/seznam?lng={lng}&f={f}]

+ Parameters
    + lng (string, optional) - jazyková mutace
        + Default: cz
        + Members
            + cz
            + en
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Ramsar - seznam [GET]

+ Response 200 (application/json)

            {
              "RamsarySeznam": [
                {
                  "Kod": "RS1",
                  "Nazev": "Šumavská rašeliniště",
                  "NazevCZ": "Šumavská rašeliniště",
                  "Rozloha": {
                    "RozlohaHodnota": 102.245393,
                    "RozlohaJednotka": "km2",
                    "UIValue": "102.245 km<sup>2</sup>"
                  },
                  "RokZapsani": 1990,
                  "Kriteria": [
                    {
                      "Kod": 1,
                      "Popis": "Mokřad představuje typický, vzácný nebo unikátní přírodní nebo přírodě blízký mokřad pro daný biogeografický region."
                    },
                    {
                      "Kod": 2,
                      "Popis": "Mokřad je obýván zranitelnými, ohroženými nebo kriticky ohroženými druhy nebo ohroženými společenstvy."
                    },
                    {
                      "Kod": 3,
                      "Popis": "Mokřad je obýván populacemi rostlin nebo živočichů důležitých pro uchování biologické rozmanitosti daného biogeografického regionu."
                    }
                  ],
                  "Typy": [
                    {
                      "Kod": 13,
                      "Popis": "rybník, klausura"
                    },
                    {
                      "Kod": 2,
                      "Popis": "tok, úsek toku"
                    },
                    {
                      "Kod": 4,
                      "Popis": "lužní les, olšina či jiné mokřadní lesy"
                    }
                  ]
                },
                {
                  "Kod": "RS2",
                  "Nazev": "Třeboňské rybníky",
                  "NazevCZ": "Třeboňské rybníky",
                  "Rozloha": {
                    "RozlohaHodnota": 96.236741,
                    "RozlohaJednotka": "km2",
                    "UIValue": "96.237 km<sup>2</sup>"
                  },
                  "RokZapsani": 1990,
                  "Kriteria": [
                    {
                      "Kod": 5,
                      "Popis": "Mokřad je pravidelně využíván více než 20 000 vodních ptáku."
                    },
                    {
                      "Kod": 2,
                      "Popis": "Mokřad je obýván zranitelnými, ohroženými nebo kriticky ohroženými druhy nebo ohroženými společenstvy."
                    },
                    {
                      "Kod": 1,
                      "Popis": "Mokřad představuje typický, vzácný nebo unikátní přírodní nebo přírodě blízký mokřad pro daný biogeografický region."
                    }
                  ],
                  "Typy": [
                    {
                      "Kod": 14,
                      "Popis": "soustava rybníků"
                    },
                    {
                      "Kod": 13,
                      "Popis": "rybník, klausura"
                    }
                  ]
                },
                {
                  "Kod": "RS3",
                  "Nazev": "Novozámecký a Břehyňský rybník",
                  "NazevCZ": "Novozámecký a Břehyňský rybník",
                  "Rozloha": {
                    "RozlohaHodnota": 9.271499,
                    "RozlohaJednotka": "km2",
                    "UIValue": "9.271 km<sup>2</sup>"
                  },
                  "RokZapsani": 1990,
                  "Kriteria": [
                    {
                      "Kod": 2,
                      "Popis": "Mokřad je obýván zranitelnými, ohroženými nebo kriticky ohroženými druhy nebo ohroženými společenstvy."
                    }
                  ],
                  "Typy": []
                },
                {
                  "Kod": "RS4",
                  "Nazev": "Lednické rybníky",
                  "NazevCZ": "Lednické rybníky",
                  "Rozloha": {
                    "RozlohaHodnota": 6.909595,
                    "RozlohaJednotka": "km2",
                    "UIValue": "6.910 km<sup>2</sup>"
                  },
                  "RokZapsani": 1990,
                  "Kriteria": [
                    {
                      "Kod": 3,
                      "Popis": "Mokřad je obýván populacemi rostlin nebo živočichů důležitých pro uchování biologické rozmanitosti daného biogeografického regionu."
                    },
                    {
                      "Kod": 6,
                      "Popis": "Mokřad je pravidelně využíván alespoň 1% jedinců populace jednoho druhu nebo poddruhu vodních ptáku."
                    },
                    {
                      "Kod": 2,
                      "Popis": "Mokřad je obýván zranitelnými, ohroženými nebo kriticky ohroženými druhy nebo ohroženými společenstvy."
                    }
                  ],
                  "Typy": [
                    {
                      "Kod": 10,
                      "Popis": "slanisko"
                    },
                    {
                      "Kod": 7,
                      "Popis": "rákosina, ostřicová louka"
                    },
                    {
                      "Kod": 4,
                      "Popis": "lužní les, olšina či jiné mokřadní lesy"
                    }
                  ]
                }
              ]
            }


## MOK_IR006 Změny číselníků [/zmeny/ciselniky?f={f}]

+ Parameters
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Změny číselníků [GET]

+ Response 200 (application/json)

        {
          "CiselnikyZmeny": [
            {
              "Nazev": "MokradyKategorie",
              "DatumZmeny": "28-01-2015 22:05:33"
            },
            {
              "Nazev": "MokradyTypy",
              "DatumZmeny": "28-01-2015 22:04:22"
            },
            {
              "Nazev": "RamsarKriteria",
              "DatumZmeny": "28-01-2015 22:04:22"
            }
          ]
        }

## MOK_IR006 Změny mokřadů Ramsar [/zmeny/ramsar?f={f}]

+ Parameters
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Změny mokřadů Ramsar [GET]

+ Response 200 (application/json)

        {
          "RamsaryZmeny": [
            {
              "IdNumber": 2085,
              "DatumZmeny": "28-01-2015 22:05:33"
            },
            {
              "IdNumber": 2086,
              "DatumZmeny": "28-01-2015 22:05:33"
            }
          ]
        }

## MOK_IR006 Změny konkrétního mokřadu Ramsar - dle ID [/zmeny/ramsar/{id}?f={f}]

+ Parameters
    + id: 2085 (number) - ID mokřadu
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Změny konkrétního mokřadu Ramsar - dle ID [GET]

+ Response 200 (application/json)

        {
          "RamsarZmena": 
          {
            "IdNumber": 2085,
            "DatumZmeny": "28-01-2015 22:05:33"
          }
        }
        
## MOK_IR006 Změny konkrétního mokřadu Ramsar - dle kódu [/zmeny/ramsar/{code}?f={f}]

+ Parameters
    + code: RS5 (string) - kód mokřadu
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Změny konkrétního mokřadu Ramsar - dle kódu [GET]

+ Response 200 (application/json)

        {
          "RamsarZmena": 
          {
            "IdNumber": 2085,
            "DatumZmeny": "28-01-2015 22:05:33"
          }
        }
        
## MOK_IR006 Změny mokřadů  [/zmeny/mokrad?f={f}]

+ Parameters
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Změny mokřadů [GET]

+ Response 200 (application/json)

        {
          "MokradyZmeny": [
            {
              "IdNumber": 2048,
              "DatumZmeny": "28-01-2015 22:05:33"
            },
            {
              "IdNumber": 2049,
              "DatumZmeny": "28-01-2015 22:05:33"
            }
          ]
        }
        
## MOK_IR006 Změny konkrétního mokřadu - dle ID [/zmeny/mokrad/{id}?f={f}]

+ Parameters
    + id: 2049 (number) - ID mokřadu
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Změny konkrétního mokřadu - dle ID [GET]

+ Response 200 (application/json)

        {
          "MokradZmena": 
          {
            "IdNumber": 2049,
            "DatumZmeny": "28-01-2015 22:05:33"
          }
        }

## MOK_IR006 Změny konkrétního mokřadu - dle kódu [/zmeny/mokrad/{code}?f={f}]

+ Parameters
    + code: RS14.06 (string) - kód mokřadu
    + f (string, optional) - formát výstupu
        + Default: json
        + Members
            + json
            + pjson
            + html
            + xml

### Změny konkrétního mokřadu - dle kódu [GET]

+ Response 200 (application/json)

        {
          "MokradZmena": 
          {
            "IdNumber": 2049,
            "DatumZmeny": "28-01-2015 22:05:33"
          }
        }